/*
    base:       #862996

    main:       #241B25

    light1:     #554458
    light2:     #3D313F

    dark1:      #201422
    dark2:      #1D0E1F

    white:      #FFFFFF
    gray-dark:  #919292
    gray-light: #E1E2E1
*/

$white: #241B25;
$gray-100: #1D0E1F;
$gray-200: #E1E2E1;
$gray-300: #554458;
$gray-400: #201422;
$gray-500: #3D313F;
$gray-600: #3D313F;
$gray-700: #554458;
$gray-800: #3D313F;
$gray-900: #919292;
$black: #E1E2E1;

$blue: #919292;

$font-family-base: 'Playfair Display', serif;

@import "node_modules/bootstrap/scss/bootstrap";

#smokeCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}